@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --color-callact: rgb(79,11,118);
    --color-middle: rgb(139,45,116);

    --color-middle-h2: rgb(199,73,86);
    --color-middle-h3: rgb(234,116,52);
    --color-middle-h4: rgb(246,165,11);

    --colore-callact: rgb(168, 233, 137);
    --colore-middle: rgb(120, 205, 139);

    --colore-middle-h2: rgb(63, 179, 178);
    --colore-middle-h3: rgb(29, 137, 197);
    --colore-middle-h4: rgb(19, 99, 230);

    --color-neutral: rgb(255, 255, 255);
    --color-neutral-2: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.background-image {
    background-image: url("../images/bg.png");
    background-color: #111111;
    background-size: cover;
    color: #eee;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);

    position: fixed;

    top: 0;
    left: 0;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;

    transition: background-color ease-in 0.5s;
}

.navbar .logo {
    background-color: rgba(0, 0, 0, 0);

    margin-left: 15em;

    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo img {    
    width: 7em;
    height: 7em;
}

.navbar .logo span {
    margin-top: 0.6em;

    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.2em;
    white-space: nowrap;

    background: linear-gradient(90deg, rgb(109, 109, 109) 0%, var(--color-neutral-2) 100%);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;

    transition: 0.5s ease-in-out;
}

.navbar .logo:hover span {
    cursor: pointer;

    background: rgb(0, 0, 0);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
}

.navbar .options {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20em;

    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30em;
}

.navbar .options img {
    margin-top: 1em;  

    width: 5em;
    height: 5em;
}

.navbar .options:hover {
    cursor: pointer;
}

.opener {
    font-family: "Abril Fatface", serif;

    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.opener p {
    color: var(--color-neutral-2);

    display: inline-block;

    font-size: 2.5em; 
    text-align: center;
}

.opener h1 {
    margin-top: 0.1em;
    color: var(--color-neutral-2);

    display: inline-block;

    font-size: 8.5em;
    font-style: italic;
    text-align: center;
}

.opener h1 u{
    text-decoration-color: rgb(255, 255, 255);
}

footer {
    font-family: "Bebas Neue", sans-serif;

    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.contact-info p {
    font-size: 1.6em;
    margin: 5px 0;
}

.contact-info p strong {
    font-weight: bold;
}

.contact-info p a {
    color: #007bff;
    text-decoration: none;
}

.contact-info p a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
    font-size: 0.8rem;
}


@media (min-width: 992px) and (max-width: 1499.98px) {
    .navbar .logo {
        margin-left: 1.5em;
    }

    .navbar .options {
        margin-left: 20em;
        margin-right: 4em;
    }

    .opener p {
        margin-bottom: 0em;
        font-size: 2em;
    }

    .opener h1 {
        margin-top: 0em;
        font-size: 7em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar .logo {
        margin-left: 1.5em;
    }

    .navbar .options {
        margin-left: 10em;
        margin-right: 3em;
    }

    .opener p {
        margin-bottom: 0em;
        font-size: 2em;
    }

    .opener h1 {
        margin-top: 0em;
        font-size: 5.5em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar .logo {
        margin-left: 0;
    }

    .navbar .options img{
        margin-top: 2.5em;  

        width: 3em;
        height: 3em;
    }

    .navbar .options {
        margin-left: 5em;
        margin-right: 3em;
    }

    .opener p {
        margin-bottom: 0em;
        font-size: 2em;
    }

    .opener h1 {
        margin-top: 0em;
        font-size: 4.5em;
    }
}

@media (min-width: 466px) and (max-width: 575.98px) {
    .navbar .logo {
        margin-left: 0;
    }

    .navbar .logo span {
        display: none;
    }

    .navbar .options img {
        margin-top: 2.5em;  
        width: 3em;
        height: 3em;
    }

    .navbar .options {
        margin-left: 1em;
        margin-right: 4em;
    }

    .opener p {
        margin-bottom: 0em;
        font-size: 2em;
    }

    .opener h1 {
        margin-top: 0em;
        font-size: 4em;
    }
}

@media (min-width: 320px) and (max-width: 465.98px) {
    .navbar .logo {
        margin-left: 0;
    }

    .navbar .logo span {
        display: none;
    }

    .navbar .options img {
        margin-top: 2.5em;  
        width: 3em;
        height: 3em;
    }

    .navbar .options {
        margin-left: 3em;
        margin-right: 3em;
    }

    .opener p {
        margin-bottom: 0em;
        font-size: 1.5em;
    }

    .opener h1 {
        margin-top: 0em;
        font-size: 4.5em;
    }
}
